.moreInfoButton {
  border-radius: 50px;
  background: #fc3a52;
  color: white;
  border: none;
  font-size: 20px;
  padding: 11px 40px;
  cursor: pointer;
  box-shadow: 1px 1px 30px 2px #0000005c; }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background: black;
  position: fixed;
  width: 100%;
  z-index: 22;
  top: 0; }
  .header div {
    padding: 2vw;
    border-right: 1px solid #565656cc; }
  .header .search {
    display: flex;
    flex-direction: row; }
    .header .search ng-md-icon {
      cursor: pointer;
      outline: none; }
  .header .title {
    flex: 1;
    text-align: center;
    font-size: calc(1em + 0.5vw);
    font-family: serif; }
  .header .searchInput {
    transition: all ease-in 0.5s;
    padding: 0;
    border: 0;
    width: 13vw;
    opacity: 1;
    margin-left: 12px; }
    .header .searchInput input {
      background: black;
      border: none;
      border-bottom: 1px solid white;
      color: white;
      width: 100%;
      outline: none; }
    .header .searchInput.ng-hide {
      width: 0;
      opacity: 0;
      margin: 0; }

slideshow .swiper-container {
  height: 55vw;
  margin-top: 6vw; }

slideshow .swiper-button-next, slideshow .swiper-button-prev {
  border: 1px solid grey;
  border-radius: 270px;
  width: 50px;
  height: 50px;
  background-size: 13px 16px; }

slideshow .swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  slideshow .swiper-slide.slide1 {
    background-image: url("assets/slide1.jpg");
    background-size: 100%;
    background-repeat: no-repeat; }
  slideshow .swiper-slide.slide2 {
    background-image: url("assets/slide2.jpg");
    background-size: 100%;
    background-repeat: no-repeat; }
    slideshow .swiper-slide.slide2 .content div {
      left: -27%; }
  slideshow .swiper-slide .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    background: #00000040;
    text-shadow: 1px 1px 16px #00000094; }
    slideshow .swiper-slide .content div {
      position: relative;
      left: 22%;
      width: 50%;
      text-align: center; }
  slideshow .swiper-slide p {
    font-size: 6vw;
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    margin: 10px;
    font-weight: bold;
    margin-bottom: 40px; }

description .description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 9vw 8vw; }
  description .description-container .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    flex: 1; }
    description .description-container .description .description-title {
      font-size: calc(1em + 2vw); }
    description .description-container .description .description-content {
      font-size: calc(1em + 0.5vw);
      margin-bottom: 30px; }
  description .description-container .pictures {
    flex: 1;
    position: relative; }
    description .description-container .pictures .fourche {
      width: 250px;
      height: 250px;
      position: absolute;
      left: 20%;
      z-index: 10;
      top: 40%;
      background-image: url(assets/fourche1.jpg);
      box-shadow: 1px 1px 47px 21px #a8a8a836;
      border-radius: 8px;
      background-repeat: no-repeat;
      background-size: cover; }
    description .description-container .pictures .frein {
      width: 250px;
      height: 250px;
      opacity: 0.5;
      position: relative;
      left: 42%;
      top: 12%;
      box-shadow: 1px 1px 26px 21px #a8a8a836;
      background-image: url(assets/frein.png);
      background-repeat: no-repeat;
      background-size: cover; }

.productsContainer .type {
  font-weight: normal;
  font-size: calc(1em + 0.5vw); }

.productsContainer .product {
  font-weight: normal;
  font-size: calc(1em + 1vw); }

.productsContainer .picture {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.productsContainer .greyContainer {
  background: #63686c;
  color: white;
  padding: 25px 50px; }

.productsContainer .blueContainer {
  background: #2e3140;
  color: white; }

.productsContainer .yellowContainer {
  background: #fab54e;
  padding: 25px 50px; }

.featuredTitle {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase; }

.footerContainer {
  background-color: #222222;
  color: #585858; }
  .footerContainer a {
    color: #585858; }

@media screen and (max-width: 600px) {
  .header .menu > span {
    display: none; }
  slideshow .swiper-container {
    margin-top: 11vw; }
  .description-container {
    height: auto; }
  div.productsContainer {
    flex-direction: column; }
    div.productsContainer > div {
      max-width: 100% !important; }
    div.productsContainer .picture {
      max-width: 40%; }
    div.productsContainer .yellowContainer, div.productsContainer .greyContainer {
      padding: 25px 10px; }
  div.footerContainer .content {
    display: none; } }
